@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  
  background-size: cover;
  background-image: url('/img/sudentbg4.jpg');
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px; /* Add padding to the grid container */
}
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}


.card img {
  width: 150px; /* Set a fixed width for the images */
  height: 150px; /* Set a fixed height for the images */
  border-radius: 60%;
  object-fit: cover; /* Ensure the image covers the container */
}

.card h2 {
  margin-top: 10px;
}

.card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #0056b3;
}